[run]
source = artificial
include = artificial*
branch = True

[report]
exclude_lines =
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */tests/*
    */python?.?/*
    */site-packages/nose/*
